h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 1em;
}

.playoff_match {
    border: 1px solid black;
    display: inline-block;
    margin: 1em;
    padding: 1em;
    width: 10em;
    text-align: center;
}

.field_table {
    overflow-x:auto;
    max-height: 85vh;
}

.alliance_table {
    overflow-x:auto;
    max-height: 80vh;
    border: gray 1px solid;
    margin-left: auto;
    margin-right: auto;
}

.alliances-separator {
    border-bottom: 3px solid black;
}