{% extends "tournament_site/layout.html" %}
{% load static %}

{% block body %}
    <script src="{% static 'tournament_site/js/manage_tournament.js' %}"></script>

    <h1> VEX tournament Qualifiers</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <!-- scoreboard -->
                <h2>Scoreboard</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Team Number</th>
                            <th scope="col">Ranking Points</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for team in teams %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ team.number }}</td>
                                <td>{{ team.ranking_points }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


            <!-- matches -->
            {% for field in fields %}
                <div class="col-sm">
                    <h2>{{ field.field_name }}</h2>
                    <div class="field_table">
                           <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Match</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">{{ field.side1 }}</th>
                                    <th scope="col">RP {{ field.side1 }}</th>
                                    <th scope="col">{{ field.side2 }}</th>
                                    <th scope="col">RP {{ field.side2 }}</th>
                                    <th scope="col">Complete</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for match in matches %}
                                    {% if match in field.matches.all %}
                                        <!-- trs cannot be in forms, so we have to do this -->
                                        <form method="POST" id="match_{{ match.number }}">
                                            {% csrf_token %}
                                            <input type="hidden" name="match_number" value="{{ match.number }}">
                                            <input type="hidden" name="side1Points" value="{{ match.side1RankingPoints }}" id="side1RPHidden_{{ match.number }}">
                                            <input type="hidden" name="side2Points" value="{{ match.side2RankingPoints }}" id="side2RPHidden_{{ match.number }}">
                                            <input type="hidden" name="completed" value="{{ match.completed }}" id="completedHidden_{{ match.number }}">
                                        </form>

                                        <tr class="match {% if match.completed %}table-success{% endif %}">
                                            <td>{{ match.number }}</td>
                                            <td>{{ match.time|time:"G:i" }}</td>
                                            <td>{{ match.side1Team.number }}</td>
                                            <td><input class="form-control" type="number" id="side1RP_{{ match.number }}" min="0" max="9" value="{{ match.side1RankingPoints }}" onchange="updateRP(this)"></td>
                                            <td>{{ match.side2Team.number }}</td>
                                            <td><input class="form-control" type="number" id="side2RP_{{ match.number }}" min="0" max="9" value="{{ match.side2RankingPoints }}" onchange="updateRP(this)"></td>
                                            <td><input class="form-check" type="checkbox" id="completed_{{ match.number }}" onchange="updateCompleted(this)" {% if match.completed %}checked{% endif %}></td>
                                            <td><input class="btn btn-primary btn-sm" type="submit" value="Confirm" form="match_{{ match.number }}"></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <button class="btn btn-primary" onclick="allianceSelection()">Begin alliance selection</button>
    <a class="btn btn-primary" href="{% url 'logout' %}">logout</a>
{% endblock %}
