{% extends "tournament_site/layout.html" %}
{% load static %}

{% block body %}
    <script src="{% static 'tournament_site/js/playoffs.js' %}"></script>

    <h1> VEX tournament Playoffs</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                {% if matchType == "Quarterfinals" %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="playoff_match" id="playoff0">
                            <input type="hidden" name="match_type" value="quarterFinals">
                            <input type="hidden" name="match_id" value="{{ quarterFinals.0.id }}">
                            <input type="hidden" name="number" value="0">
                            {{ quarterFinals.0.side1Team.number }} | {{ quarterFinals.0.side1Team.alliance.number }}
                            <input type="radio" name="winner" value="{{ quarterFinals.0.side1Team.number }}" required>
                            <br>
                            {{ quarterFinals.0.side2Team.number }} | {{ quarterFinals.0.side2Team.alliance.number }}
                            <input type="radio" name="winner" value="{{ quarterFinals.0.side2Team.number }}" required>
                            <br>
                            <input type="submit" value="Submit" class="btn btn-sm btn-primary">
                        </div>
                    </form>
                {% else %}
                    <div class="playoff_match" id="playoff0">
                        {{ quarterFinals.0.side1Team.number }} | {{ quarterFinals.0.side1Team.alliance.number }}
                        <br>
                        {{ quarterFinals.0.side2Team.number }} | {{ quarterFinals.0.side2Team.alliance.number }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if matchType == "Quarterfinals" %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="playoff_match" id="playoff1">
                            <input type="hidden" name="match_type" value="quarterFinals">
                            <input type="hidden" name="match_id" value="{{ quarterFinals.1.id }}">
                            <input type="hidden" name="number" value="1">
                            {{ quarterFinals.1.side1Team.number }} | {{ quarterFinals.1.side1Team.alliance.number }}
                            <input type="radio" name="winner" value="{{ quarterFinals.1.side1Team.number }}" required>
                            <br>
                            {{ quarterFinals.1.side2Team.number }} | {{ quarterFinals.1.side2Team.alliance.number }}
                            <input type="radio" name="winner" value="{{ quarterFinals.1.side2Team.number }}" required>
                            <br>
                            <input type="submit" value="Submit" class="btn btn-sm btn-primary">
                        </div>
                    </form>
                {% else %}
                    <div class="playoff_match" id="playoff1">
                        {{ quarterFinals.1.side1Team.number }} | {{ quarterFinals.1.side1Team.alliance.number }}
                        <br>
                        {{ quarterFinals.1.side2Team.number }} | {{ quarterFinals.1.side2Team.alliance.number }}
                    </div>
                {% endif %}
            </div>
            <div class="col">
                {% if matchType == "Semifinals" %}
                <form method="post">
                        {% csrf_token %}
                        <div class="playoff_match" id="playoff4">
                            <input type="hidden" name="match_type" value="semiFinals">
                            <input type="hidden" name="match_id" value="{{ semiFinals.0.id }}">
                            <input type="hidden" name="number" value="0">
                            {{ semiFinals.0.side1Team.number }} | {{ semiFinals.0.side1Team.alliance.number }}
                            <input type="radio" name="winner" value="{{ semiFinals.0.side1Team.number }}" required>
                            <br>
                            {{ semiFinals.0.side2Team.number }} | {{ semiFinals.0.side2Team.alliance.number }}
                            <input type="radio" name="winner" value="{{ semiFinals.0.side2Team.number }}" required>
                            <br>
                            <input type="submit" value="Submit" class="btn btn-sm btn-primary">
                        </div>
                    </form>
                {% else %}
                    <div class="playoff_match" id="playoff4">
                        {{ semiFinals.0.side1Team.number }} | {{ semiFinals.0.side1Team.alliance.number }}
                        <br>
                        {{ semiFinals.0.side2Team.number }} | {{ semiFinals.0.side2Team.alliance.number }}
                    </div>
                {% endif %}
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>

            <div class="col">
                {% if matchType == "Finals" %}
                <form method="post">
                        {% csrf_token %}
                        <div class="playoff_match" id="playoff6">
                            <input type="hidden" name="match_type" value="finals">
                            <input type="hidden" name="match_id" value="{{ finals.0.id }}">
                            <input type="hidden" name="number" value="0">
                            {{ finals.0.side1Team.number }} | {{ finals.0.side1Team.alliance.number }}
                            <input type="radio" name="winner" value="{{ finals.0.side1Team.number }}" required>
                            <br>
                            {{ finals.0.side2Team.number }} | {{ finals.0.side2Team.alliance.number }}
                            <input type="radio" name="winner" value="{{ finals.0.side2Team.number }}" required>
                            <br>
                            <input type="submit" value="Submit" class="btn btn-sm btn-primary">
                        </div>
                    </form>
                {% else %}
                    <div class="playoff_match" id="playoff6">
                        {{ finals.0.side1Team.number }} | {{ finals.0.side1Team.alliance.number }}
                        <br>
                        {{ finals.0.side2Team.number }} | {{ finals.0.side2Team.alliance.number }}
                    </div>
                {% endif %}
            </div>

            <div class="col">
                <div class="playoff_match" id="playoff7">
                    <br>
                    {{ winner.number }} | {{ winner.alliance.number }}

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if matchType == "Quarterfinals" %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="playoff_match" id="playoff2">
                            <input type="hidden" name="match_type" value="quarterFinals">
                            <input type="hidden" name="match_id" value="{{ quarterFinals.2.id }}">
                            <input type="hidden" name="number" value="2">
                            {{ quarterFinals.2.side1Team.number }} | {{ quarterFinals.2.side1Team.alliance.number }}
                            <input type="radio" name="winner" value="{{ quarterFinals.2.side1Team.number }}" required>
                            <br>
                            {{ quarterFinals.2.side2Team.number }} | {{ quarterFinals.2.side2Team.alliance.number }}
                            <input type="radio" name="winner" value="{{ quarterFinals.2.side2Team.number }}" required>
                            <br>
                            <input type="submit" value="Submit" class="btn btn-sm btn-primary">
                        </div>
                    </form>
                {% else %}
                    <div class="playoff_match" id="playoff2">
                        {{ quarterFinals.2.side1Team.number }} | {{ quarterFinals.2.side1Team.alliance.number }}
                        <br>
                        {{ quarterFinals.2.side2Team.number }} | {{ quarterFinals.2.side2Team.alliance.number }}
                    </div>
                {% endif %}
            </div>
            <div class="col">
                {% if matchType == "Semifinals" %}
                <form method="post">
                        {% csrf_token %}
                        <div class="playoff_match" id="playoff5">
                            <input type="hidden" name="match_type" value="semiFinals">
                            <input type="hidden" name="match_id" value="{{ semiFinals.1.id }}">
                            <input type="hidden" name="number" value="1">
                            {{ semiFinals.1.side1Team.number }} | {{ semiFinals.1.side1Team.alliance.number }}
                            <input type="radio" name="winner" value="{{ semiFinals.1.side1Team.number }}" required>
                            <br>
                            {{ semiFinals.1.side2Team.number }} | {{ semiFinals.1.side2Team.alliance.number }}
                            <input type="radio" name="winner" value="{{ semiFinals.1.side2Team.number }}" required>
                            <br>
                            <input type="submit" value="Submit" class="btn btn-sm btn-primary">
                        </div>
                    </form>
                {% else %}
                    <div class="playoff_match" id="playoff5">
                        {{ semiFinals.1.side1Team.number }} | {{ semiFinals.1.side1Team.alliance.number }}
                        <br>
                        {{ semiFinals.1.side2Team.number }} | {{ semiFinals.1.side2Team.alliance.number }}
                    </div>
                {% endif %}
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                {% if matchType == "Quarterfinals" %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="playoff_match" id="playoff3">
                            <input type="hidden" name="match_type" value="quarterFinals">
                            <input type="hidden" name="match_id" value="{{ quarterFinals.3.id }}">
                            <input type="hidden" name="number" value="3">
                            {{ quarterFinals.3.side1Team.number }} | {{ quarterFinals.3.side1Team.alliance.number }}
                            <input type="radio" name="winner" value="{{ quarterFinals.3.side1Team.number }}" required>
                            <br>
                            {{ quarterFinals.3.side2Team.number }} | {{ quarterFinals.3.side2Team.alliance.number }}
                            <input type="radio" name="winner" value="{{ quarterFinals.3.side2Team.number }}" required>
                            <br>
                            <input type="submit" value="Submit" class="btn btn-sm btn-primary">
                        </div>
                    </form>
                {% else %}
                    <div class="playoff_match" id="playoff3">
                        {{ quarterFinals.3.side1Team.number }} | {{ quarterFinals.3.side1Team.alliance.number }}
                        <br>
                        {{ quarterFinals.3.side2Team.number }} | {{ quarterFinals.3.side2Team.alliance.number }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="{% url 'logout' %}">logout</a>
{% endblock %}
