{% extends "tournament_site/layout.html" %}
{% load static %}

{% block body %}

    <h1> VEX tournament</h1>

    <!-- scoreboard -->
    <table class="table">
        <tr>
            <th>Team</th>
            <th>Score</th>
        </tr>
        {% for team in teams %}
            <tr>
                <td>{{ team.number }}</td>
                <td>{{ team.school }}</td>
                <td>{{ team.score }}</td>
            </tr>
        {% endfor %}
    </table>

    <a class="btn btn-primary" href="{% url 'logout' %}">logout</a>
{% endblock %}
